<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris Game</title>
    <link href="/styles.css" type="text/css" rel="stylesheet">
    <link rel="icon" href="images/Tetris-2-512.webp" type="image/png" sizes="16x16">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="error_container">
        <h1>Ooops, something went wrong :(</h1>
        <img class="error_image" src="/images/output-onlinepngtools.png">
        <h3>Email is already in use.</h3>
        <a href="/">HOME</a>
    </div>
</body>
</html>